export(as.task)
export(get_balance)
export(is.task)
export(render_templates)
export(task_skeleton)
export(validate_questions)
importFrom(digest,hmac)
importFrom(RCurl,base64)
importFrom(stringr,str_c)
importFrom(stringr,str_replace_all)
importFrom(stringr,str_wrap)
importFrom(whisker,whisker.render)
S3method(format,XMLError)
S3method(format,XMLSchemaValidationResults)
S3method(print,XMLError)
