export(as.task)
export(get_assignments)
export(get_balance)
export(init_task)
export(is.task)
export(list_hits)
export(publish_task)
export(register_task)
export(render_templates)
export(review_task)
export(unpublish_task)
export(validate_questions)
export(view_task)
importFrom(digest,hmac)
importFrom(plyr,ldply)
importFrom(plyr,rbind.fill)
importFrom(RCurl,base64)
importFrom(RCurl,getURL)
importFrom(stringr,"str_sub<-")
importFrom(stringr,str_c)
importFrom(stringr,str_detect)
importFrom(stringr,str_replace_all)
importFrom(stringr,str_split)
importFrom(stringr,str_sub)
importFrom(stringr,str_trim)
importFrom(stringr,str_wrap)
importFrom(whisker,whisker.render)
importFrom(XML,getNodeSet)
importFrom(XML,xmlSchemaParse)
importFrom(XML,xmlSchemaValidate)
importFrom(XML,xmlTreeParse)
importFrom(XML,xmlValue)
S3method(format,XMLError)
S3method(format,XMLSchemaValidationResults)
S3method(print,XMLError)
