export(as.task)
export(get_assignments)
export(get_balance)
export(is.task)
export(list_hits)
export(preview_task)
export(publish_task)
export(register_task)
export(render_templates)
export(review_task)
export(task_skeleton)
export(unpublish_task)
export(validate_questions)
importFrom(digest,hmac)
importFrom(plyr,ldply)
importFrom(RCurl,base64)
importFrom(stringr,str_c)
importFrom(stringr,str_replace_all)
importFrom(stringr,str_wrap)
importFrom(whisker,whisker.render)
S3method(format,XMLError)
S3method(format,XMLSchemaValidationResults)
S3method(print,XMLError)
